@import './fonts.css';
@import './customTailwindStyles.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
	height: 100svh;
	overflow-x: hidden; /* Use 'hidden' instead of 'none' */
}

@layer base {
	body {
		@apply text-black dark:text-gray-300 transition-colors duration-100;
	}
}

button {
	user-select: none;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.bell-icon-animation {
	animation: translateYAnimation 0.2s ease-in-out;
}

/* Default (light theme) styles */
body {
	background-color: white; /* Light background color */
	color: black; /* Light text color */
}

* {
	scrollbar-width: thin; /* 'auto' or 'thin' */
	scrollbar-color: #ccc #f0f0f0; /* Thumb color and track color */
}

.dark * {
	scrollbar-color: #354657 #142434; /* Thumb color and track color */
}
@layer utilities {
	.scrollbar-hide::-webkit-scrollbar {
		display: none;
	}

	.scrollbar-hide {
		scrollbar-width: none;
	}

	/* Estilos de la UI */
	.ui-text {
		@apply text-black dark:text-white;
	}

	.ui-background-danger {
		@apply bg-red-500/30;
	}

	.ui-text-danger {
		@apply text-red-600 dark:text-red-400;
	}

	.ui-background-warning {
		@apply bg-yellow-500/30;
	}

	.ui-text-warning {
		@apply text-yellow-600 dark:text-yellow-500;
	}

	.ui-background-success {
		@apply bg-green-500/30;
	}

	.ui-text-success {
		@apply text-green-500;
	}

	.ui-background-info {
		@apply bg-sky-500/30;
	}

	.ui-text-info {
		@apply text-sky-500;
	}

	.ui-background-none {
		@apply bg-gray-500/20;
	}

	.ui-text-none {
		@apply text-gray-600 dark:text-gray-400;
	}
}

.circle {
	position: absolute;
	border-radius: 50%;
	transform: scale(0);
	animation: growAndFade 0.625s ease-out forwards;
	pointer-events: none;
}

@keyframes growAndFade {
	to {
		transform: scale(4);
		opacity: 0;
	}
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.vertical-difuminate {
	mask-image: linear-gradient(to top, transparent 0%, rgb(0, 0, 0) 0.625rem, rgb(0, 0, 0) calc(100% - 0.625rem), transparent 100%);
}
