@import './fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
	height: 100svh;
	overflow-x: none;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.bell-icon-animation {
	animation: translateYAnimation 0.2s ease-in-out;
}

@layer utilities {
	.scrollbar-hide::-webkit-scrollbar {
		display: none;
	}
}

.circle {
	position: absolute;
	border-radius: 50%;
	/* background-color: rgba(255, 255, 255, 0.25); */
	transform: scale(0);
	animation: growAndFade 0.625s ease-out forwards;
	pointer-events: none;
}

.circle-transition-md {
	animation: growAndFade 0.625s ease-out forwards;
}

@keyframes growAndFade {
	to {
		transform: scale(4);
		opacity: 0;
	}
}