@import './fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
	height: 100svh;
	overflow-x: none;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.bell-icon-animation {
	animation: translateYAnimation 0.2s ease-in-out;
}
